<br />
<div class="text-center">
  <% if logged_in? && @current_user.id == @user.id %>
    <h3 class="text-center">Voici tes petites infos, <%= @user.first_name %>.</h3> <br />
  <% else %>
    <h3 class="text-center">Voici les petites infos de <%= @user.first_name %>.</h3> <br />
  <% end %>
</div>

<div class="text-center">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.first_name %></td>
        <td><%= @user.last_name %></td>
        <td><%= @user.email %></td>
    </tbody>
  </table>
</div>

<% if logged_in? && @current_user.id == @user.id %>
<p class="text-center"><%= link_to "Editer mon profil", edit_user_path, class: "btn btn-outline-secondary" %> </p>
<% end %>

<p class="text-center"><%= link_to "Retour à l'accueil", root_path, class: "btn btn-outline-secondary" %> </p>
