<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="nav navbar-nav">
   <li class="nav-item active"><%= link_to "Accueil", root_path, class:'nav-link' %></li>
   <% if logged_in? %>
    <li class="nav-item"><%= link_to "Private club", users_path, class:'nav-link' %></li>
    <li class="nav-item nav-link">Connecté en tant que : <%= @current_user.first_name %></li>
    <li class="nav-item"><%= link_to "Se déconnecter", logout_path, method: :delete, class:'nav-link' %></li>
   <% else %>
    <li class="nav-item"><%= link_to "Se connecter", login_path, class:'nav-link' %></li>
    <li class="nav-item"><%= link_to "Créer un compte", new_user_path, class:'nav-link' %></li>
   <% end %>
  </ul>
 </div>
</nav
